body {
  font-family: 'K2D', sans-serif;
}

textarea {
  font-family: 'Charmonman', cursive;
  font-weight: bold;
}

.container {
  margin-top: 20px;
}

.lm {
  margin-left: 7px;
}

.help {
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 200px;
}

.large-icon {
  font-size: 5rem;
}

.my-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px silver;
  border-radius: 5px;
}
